openapi: 3.0.3
info:
  title: Shift4 Payments Blacklist Tokens API
  description: The Shift4 Payments API enables merchants and platforms to accept and manage payments, including one-time charges, refunds, customers, cards, tokenization, subscriptions, plans, payment methods, payment links, checkout sessions, fraud warnings, blacklist rules, disputes, file uploads, payouts, webhook endpoints, and events. Endpoints, parameters, and resource shapes are extracted from the public Shift4 documentation at https://dev.shift4.com/docs/api and the official open-source Shift4 SDKs (Java, Node, Python, Ruby, PHP, .NET, iOS, Android, WooCommerce, Salesforce B2C) maintained at https://github.com/shift4developer.
  version: '1.0'
  contact:
    name: Shift4 Developer Support
    email: devsupport@shift4.com
    url: https://dev.shift4.com
  license:
    name: Documentation
    url: https://dev.shift4.com/docs
servers:
- url: https://api.shift4.com
  description: Production
security:
- BasicAuth: []
tags:
- name: Tokens
  description: Tokenize card data for safe transmission.
paths:
  /tokens:
    post:
      tags:
      - Tokens
      summary: Create a Card Token
      operationId: createToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: Token created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
components:
  schemas:
    TokenRequest:
      type: object
      properties:
        number:
          type: string
        expMonth:
          type: string
        expYear:
          type: string
        cvc:
          type: string
        cardholderName:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressCity:
          type: string
        addressState:
          type: string
        addressZip:
          type: string
        addressCountry:
          type: string
    Token:
      type: object
      properties:
        id:
          type: string
        created:
          type: integer
          format: int64
        first6:
          type: string
        last4:
          type: string
        fingerprint:
          type: string
        expMonth:
          type: string
        expYear:
          type: string
        brand:
          type: string
        type:
          type: string
        cardholderName:
          type: string
        used:
          type: boolean
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressCity:
          type: string
        addressState:
          type: string
        addressZip:
          type: string
        addressCountry:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Use your secret API key as the username with an empty password.
