openapi: 3.0.3
info:
  title: Shift4 Payments Blacklist Webhook Endpoints API
  description: The Shift4 Payments API enables merchants and platforms to accept and manage payments, including one-time charges, refunds, customers, cards, tokenization, subscriptions, plans, payment methods, payment links, checkout sessions, fraud warnings, blacklist rules, disputes, file uploads, payouts, webhook endpoints, and events. Endpoints, parameters, and resource shapes are extracted from the public Shift4 documentation at https://dev.shift4.com/docs/api and the official open-source Shift4 SDKs (Java, Node, Python, Ruby, PHP, .NET, iOS, Android, WooCommerce, Salesforce B2C) maintained at https://github.com/shift4developer.
  version: '1.0'
  contact:
    name: Shift4 Developer Support
    email: devsupport@shift4.com
    url: https://dev.shift4.com
  license:
    name: Documentation
    url: https://dev.shift4.com/docs
servers:
- url: https://api.shift4.com
  description: Production
security:
- BasicAuth: []
tags:
- name: Webhook Endpoints
  description: Register and manage webhook endpoints.
paths:
  /webhook-endpoints:
    post:
      tags:
      - Webhook Endpoints
      summary: Create a Webhook Endpoint
      operationId: createWebhookEndpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              properties:
                url:
                  type: string
                  format: uri
                enabledEvents:
                  type: array
                  items:
                    type: string
                description:
                  type: string
      responses:
        '200':
          description: Webhook endpoint created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
    get:
      tags:
      - Webhook Endpoints
      summary: List Webhook Endpoints
      operationId: listWebhookEndpoints
      parameters:
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A list of webhook endpoints.
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookEndpoint'
                  hasMore:
                    type: boolean
                  totalCount:
                    type: integer
  /webhook-endpoints/{endpointId}:
    parameters:
    - name: endpointId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Webhook Endpoints
      summary: Retrieve a Webhook Endpoint
      operationId: getWebhookEndpoint
      responses:
        '200':
          description: A webhook endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
    post:
      tags:
      - Webhook Endpoints
      summary: Update a Webhook Endpoint
      operationId: updateWebhookEndpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                enabledEvents:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Updated webhook endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
components:
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      description: A limit on the number of objects to be returned.
  schemas:
    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
        created:
          type: integer
          format: int64
        url:
          type: string
          format: uri
        signingSecret:
          type: string
        enabledEvents:
          type: array
          items:
            type: string
        description:
          type: string
        deleted:
          type: boolean
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Use your secret API key as the username with an empty password.
